[push]
	default = simple
[user]
	name = Herman Torjussen
	email = herman.torjussen@gmail.com
[alias]
	ch = checkout
	br = branch
	st = status -s
	co = commit
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	df = diff -- ':!package-lock.json'
	clean-branches = ! git branch | grep -v ' master$' | xargs git branch -D
