[user]
	name = Herman Torjussen
	email = herman.torjussen@gmail.no
[alias]
	ch = checkout
	br = branch
	st = status -s
	co = commit
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
